.register-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.register-box,
.image-container {
  flex: 1;
}
@media screen and (max-width: 742px) {
  .register-box,
  .image-container {
    min-width: 100%;
  }
}
.image-container {
  flex: 1 1 auto;
  max-width: 50%;
  text-align: center;
}
.image-container h1 {
  margin: 0;
  margin-top: 25px;
}
.image-container p {
  margin: 0;
}
.image-container img {
  max-width: 100%;
  height: auto;
}
.register-container > .image-container {
  background-color: #00939f;
  color: white;
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-container > .image-container > img {
  max-width: 60%;
}
.register-container > .register-box {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  display: table;
}
.register-container > .register-box > .register-content > .title {
  font-size: 40px;
  font-weight: bold;
}
.register-container
  > .register-box
  > .register-content
  > form
  > .submit-button {
  background-color: #00939f;
  margin: 15px 0;
}
.image-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
.register-container > .register-box > .register-content > form > label {
  font-size: 18px;
  font-weight: normal;
}
.instructions p {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  color: #959090;
}
.image-title {
  margin: 23px 0px 0px 0px;
  font-weight: normal;
}
.image-title span {
  font-size: 15px;
  color: #959090;
}
input[type="file"] {
  display: none;
}
.fileUpload .upload-image {
  display: inline-block;
  margin: 0;
  color: #00939f;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.login-link {
  flex-grow: 0;
  text-align: left;
  text-decoration: none;
  color: #00939f;
}
#root > div > div.register-box > div > form > div{
  margin-top: 5px;
  margin-bottom: 20px;
}